@charset "UTF-8";
/* Todas as demais mídias */

/* 
Typical Device Breakpoints
---------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px 
Desktop: 992px até 1200
Grandes Telas: acime de 1200px 
*/

@media screen and (min-width: 550px) and (max-width: 992px) {
    body {
        background-image: url(../images/back-portrait3.jpg);
        background-position: center 100px;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px) {
    body {
        background-image: url(../images/back-landscape.jpg)
    }
}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../images/back-landscape-big.png);
    }
}