@charset "UTF-8";
:root {
    --cor0: #574836;
    --cor1: #75340E;
    --cor2: #472E1C;
    --cor3: #8F643C;
    --cor4: #C9C8C9;

}
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    background-image: url(../images/1background-index.jpg);
    background-size: cover;
    background-position: center top;
}
header {
    
}
header > h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}
header > p {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}
nav {
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
    padding: 7px;
    background-color: var(--cor4);
}
nav > a {
    color: var(--cor2);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
}
img {
    display: block;
    margin: auto;
}

